#################
## jetBrains

.idea/*
apiclient/*
httplib2/*
oauth2client/*
uritemplate/*
deprecated/*

*.wp*
*.pyc
*.json

*** file types
*.dat
*.txt

*** changing to tasklist mode.
src/task_model.py
src/g Tasks APi*
tests/task_model_TESTS.py

src/bak.

*** changing to NEW_MODEL without the full TaskClass
src/task_class.py
tests/task_class_TESTS.py

*** root
__init__.py
server
myTaskDB
README.html

*** src/
__init__.py
src/myTestDB
src/myTaskDB

*** tests/
__init__.py
tests/myTestDB
tests/x_TESTS.py
tests/ALMA5.RTF